body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f7f7f7; /* 浅灰色背景 */
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box; /* 使所有元素的 padding 和 border 包括在宽度内 */
}
.login-main {
    display: flex;
    justify-content: center;   /* 水平居中 */
    align-items: center;   /* 垂直居中 */
    height: 600px;
}

.login-container {
    background: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    padding: 20px;
    text-align: center;
}

/* 切换按钮 */
.login-header {
    padding:40px 0 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background: #f7f7f7;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background: #e0e0e0; /* 鼠标悬停效果 */
}

.toggle-btn:focus {
    outline: none;
    background: #007bff;
    color: white;
}

/* 登录框 */
.login-box {
    text-align: left;
    margin:40px 30px;
}

.login-box h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    margin-bottom:25px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.input-field input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.input-field input:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}
/* 登录按钮 */
.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: black;
    color: white;
}

/* 响应式设计 */
@media (max-width: 500px) {
    .login-container {
        width: 90%;
    }

    .toggle-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .input-field input {
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
    }
}
