<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.example.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>com.example.controller.DetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminInServlet</servlet-name>
        <servlet-class>com.example.controller.AdminInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminInServlet</servlet-name>
        <url-pattern>/AdminIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.example.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.example.controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdCartServlet</servlet-name>
        <servlet-class>com.example.controller.UpdCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdCartServlet</servlet-name>
        <url-pattern>/UpdCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.example.controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminProduct</servlet-name>
        <servlet-class>com.example.controller.AdminProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProduct</servlet-name>
        <url-pattern>/AdminProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.example.controller.AddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.example.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.example.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>com.example.controller.OrderDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>com.example.controller.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyOrder</servlet-name>
        <servlet-class>com.example.controller.MyOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyOrder</servlet-name>
        <url-pattern>/MyOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminClient</servlet-name>
        <servlet-class>com.example.controller.AdminClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminClient</servlet-name>
        <url-pattern>/AdminClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StatisticsServlet</servlet-name>
        <servlet-class>com.example.controller.StatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatisticsServlet</servlet-name>
        <url-pattern>/Statistics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyOrdetail</servlet-name>
        <servlet-class>com.example.controller.MyOrdetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyOrdetail</servlet-name>
        <url-pattern>/MyOrdetail</url-pattern>
    </servlet-mapping>
</web-app>